[Unit]
Description=isu ruby

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/ruby
EnvironmentFile=/home/isucon/env.sh
ExecStart=/usr/local/bin/bundle exec puma start --port 8080 -t 10 -e production

[Install]
WantedBy=multi-user.target
